* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-color: #E8EADE;
}

.map {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide div {
    width: 95%;
    border: 2px dashed #696969;
}

.guide div h2 {
    text-align: center;
    font-family: sans-serif;
}

.guide div h3 {
    display: flex;
    flex-direction: row;
    font-family: monospace;
}

.guide div h3:before,
.guide div h3:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid;
    margin: auto;
}

.guide div img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

#line-suburban {
    color: #F3810C;
    margin-top: 1%;
}
#line-suburban:before,
#line-suburban:after {
    border-color: #F3810C;
    
}

#line-cmrl-1 {
    color: #097138;
}
#line-cmrl-1:before,
#line-cmrl-1:after {
    border-color: #097138;
}

#line-cmrl-2 {
    color: #0288D1;
}
#line-cmrl-2:before,
#line-cmrl-2:after {
    border-color: #0288D1;
}

#line-cmrl-3 {
    color: #693CB8;
}
#line-cmrl-3:before,
#line-cmrl-3:after {
    border-color: #693CB8;
}

#line-cmrl-4 {
    color: #F48FB1;
}
#line-cmrl-4:before,
#line-cmrl-4:after {
    border-color: #F48FB1;
}

#line-cmrl-5 {
    color: #B4B93C;
}
#line-cmrl-5:before,
#line-cmrl-5:after {
    border-color: #B4B93C;
}

#line-mrts {
    color: #757575;
    margin-bottom: 1%;
}
#line-mrts:before,
#line-mrts:after {
    border-color: #757575;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: #d9dab0;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 780px) {
    footer {
    align-items: inherit;
        height: 7vh;
    }
}


footer h4 {
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}


footer h4 a {
    color: black;
}